
body{
    background-color: #f5d8bc;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form{
    padding-left: 2px;
}

h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #83f390;
    color: #5C0800;
}

a{
    color: #30fdf3;
}

.topnav {
    overflow: hidden;
    background-color: rgb(133, 255, 255);
}

.topnav a {
    float: left;
    color:rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

table{
    background-color: #f5d8bc;
    border-style: dashed;
    border-color: #c16964;
    border-width: 2px;
    padding: 5px;
    color: #2f005c;
}

th{
    background-color: #c16964;
    font-size: 16px;

}

tr{
    padding-right:20px;
    padding-top:3px;
    padding-bottom:3px;
    border-width: 0px, 0px, 1px, 0px;
    border-style: dotted;
}

td{
    padding: 5px;
}